@import "colors";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300&display=swap");

* {
  margin: 0;
  padding: 0;
}

.sidebar {
  position: fixed;
  width: 180px;
  left: 0;
  top: 56px;
  bottom: 0;
  background-color: $blue-grey;
  color: white;

  @media only screen and (min-width: $break-point) {
    top: 64px;
  }
  ul {
    margin-top: 10px;
    height: 100%;

    li {
      cursor: pointer;
      width: 100%;

      &:hover {
        background-color: $blue-grey-lighten;
        border-left: 2px solid $nav-color;
      }

      span {
        text-decoration: none;
        color: white;
        display: block;
        padding: 14px 12px;

        i {
          padding-right: 10px;
        }

        a {
          color: white;
        }
      }
    }
  }
}
.sidebar-active {
  background-color: $blue-grey-lighten;
  border-left: 2px solid $nav-color;
}
.logout-dash {
  &:hover {
    border-left: 2px solid $red !important;
  }
}

.dashboard {
  margin-left: 180px;
}

.coll-wrapper {
  max-width: 600px;
  margin: 0 auto;

  .coll-item {
    .collapsible-header {
      padding-left: 30px;
      text-transform: capitalize;
      &:hover {
        background: $nav-color;
        cursor: pointer;
        color: white;
      }
      &.active {
        background: $nav-color;
        color: white;
      }
    }

    .collapsible-body {
      padding: 0;
      margin: 0;
      font-family: "Roboto", "sans-serif";
      .destination-wrapper {
        display: flex;
        justify-content: space-between;

        width: 100%;
        padding: 20px 30px;

        .code {
          display: block;
          font-size: 50px;
          color: #002c5f;
          font-weight: 100;
          line-height: 50px;
        }

        .city {
          font-size: 12px;
          font-weight: 300;
        }
        .from {
          width: 30%;
          float: left;
        }
        .to {
          width: 30%;
          float: right;
          text-align: right;
        }
        .plane {
          width: 40%;
          float: left;
          text-align: center;
          position: relative;

          img {
            width: 25%;
            margin: 3px auto 0 auto;
          }
          &:before {
            content: "";
            width: 95px;
            height: 2px;
            background: #efefef;
            position: absolute;
            top: 25px;
            left: -52px;
          }

          &::after {
            content: "";
            width: 95px;
            height: 2px;
            background: #efefef;
            position: absolute;
            top: 25px;
            right: -52px;
          }
        }
      }

      .trip-detail {
        padding: 30px 19.5px 0;
        width: 100%;

        .text-hiline {
          display: block;
          color: #6a8597;
          text-transform: uppercase;
        }
        .text-actual {
          color: #002c5f;
          display: block;
        }
        .icons {
          padding: 0;
          margin-top: 50px;
          margin-bottom: 0;
          padding-bottom: 0;
          a {
            margin: 5px 3px;
          }
        }
      }
    }
  }
}
