@import "colors";

* {
  margin: 0;
  padding: 0;
}

.sidebar {
  position: fixed;
  width: 180px;
  left: 0;
  top: 56px;
  bottom: 0;
  background-color: $blue-grey;
  color: white;

  @media only screen and (min-width: $break-point) {
    top: 64px;
  }
  ul {
    margin-top: 10px;
    height: 100%;

    li {
      cursor: pointer;
      width: 100%;

      &:hover {
        background-color: $blue-grey-lighten;
        border-left: 2px solid $nav-color;
      }

      span {
        a {
          text-decoration: none;
          color: white;
          display: block;
          // border: 1px solid black;
          padding: 14px 12px;

          i {
            padding-right: 10px;
          }
        }
      }
    }
  }
}
.logout-dash {
  &:hover {
    border-left: 2px solid $red !important;
  }
}

.dashboard {
  margin-left: 180px;
}
