@import "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
}
.dropdown-btn {
  background-color: $nav-color;
  color: #eee;

  .profile-pic {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 7px;
  }

  i {
    line-height: 0 !important;
    height: 0 !important;
    margin-left: 7px;
  }

  span {
    vertical-align: middle;
  }
}
