@import "colors";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300&display=swap");
@import "dashboard";

.tripDeets {
  margin-top: 20px;
  margin-bottom: 20px;
}

.edit-button {
  float: right;
  margin-right: 30px;
  cursor: pointer;
  color: $blue-grey-lighten;
}

.cancel-button {
  margin-left: 10px;
}

.map-wrap {
  margin-top: 80px;
  width: 100%;
  border: 1px solid black;
  height: 502px;
}
.map {
  width: 75% !important;
  height: 500px !important;
}
.placelist {
  display: block;
  color: black;
  float: right;

  width: 25%;
  position: absolute;
  right: 0;
  margin-top: 45px;

  height: 500px - 45px;
  overflow: hidden;
}
.side-list {
  display: block;
  overflow-y: auto;

  height: 100%;
  list-style-type: none;
  background: $blue-grey;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
  li {
    padding: 15px;
    border-bottom: 1px solid #fff;
    color: white;
    &:hover {
      background: $nav-color;
      color: white;
    }
  }
}

.isActive {
  background: $nav-color;
  color: white;
}

.placeInput {
  padding-left: 15px !important;

  color: white;
  overflow-x: hidden !important;
  box-sizing: border-box !important;
}

.customWrapper {
  border-bottom: 1px solid black;
  padding: 10px;
}

.searchbox {
  float: right;
  width: 25%;
  display: block;
  background: #fff;

  #autocomplete {
    padding-left: 10px;
    width: 100%;
    box-sizing: border-box;
  }
}
.placelist-item {
  position: relative;
  width: 100%;
}
.deletePlace {
  float: right;
  cursor: pointer;

  &:hover {
    color: red;
  }
}

.infoContent {
}

.hourclick {
  z-index: 1;
}
